<h1><%= page_title 'Servers' %></h1>

<%= form_tag(new_server_path, method: 'get') do %>
  <button type="submit" class="btn btn-primary">New Server</button>
<% end %>

<br/>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Server Type</th>
      <th>Actions</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><a href="<%= server.url %>"><%= server.url %></a></td>
        <td><%= server.server_type.capitalize %></td>
        <td>
          <%= link_to 'Edit', edit_server_path(server) %>
          &nbsp;&nbsp;
          <%= link_to 'Delete', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
