<h2>Server '<%= @server.name %>'</h2>
<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @server.url %>
</p>

<div class="actions">
  <%= link_to 'Edit', edit_server_path(@server), class: "btn btn-primary" %>
  <%= link_to 'Back', servers_path, class: "btn btn-default" %>
</div>
