<%= form_for(@dashboard) do |f| %>
  <% if @dashboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dashboard.errors.count, "error") %> prohibited this dashboard from being saved:</h2>

      <ul>
      <% @dashboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control input-small" %>
  </div>

  <%= hidden_field_tag(:source_id, @source_id) %>

  <% unless @dashboard.new_record? %>
    <div class="field form-group">
      <%= f.label :slug %><br>
      <%= f.text_field :slug, class: "form-control input-small" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :directory %><br>
    <%= select_tag "dashboard[directory_id]",
      options_from_collection_for_select(@directories, "id", "name", @dashboard.directory_id),
      class: "form-control",
      prompt: "- Select directory -" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Back', dashboards_path, class: "btn btn-default" %>
  </div>
<% end %>
