<h2>Dashboards</h2>

<%= form_tag(new_dashboard_path, method: 'get') do %>
  <button type="submit" class="btn btn-primary">New Dashboard</button>
<% end %>

<br/>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @dashboards.each do |dashboard| %>
      <tr>
        <td><%= link_to dashboard.name, dashboard_slug_path(dashboard.slug) %></td>
        <td>
          <%= link_to 'Rename', edit_dashboard_path(dashboard) %>
          &nbsp;&nbsp;
          <%= link_to 'Clone', clone_dashboard_path(id: dashboard.id) %>
          &nbsp;&nbsp;
          <%= link_to 'Delete', dashboard, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
