<script type="text/javascript">
  dashboardData = <%= @dashboard.dashboard_json ? @dashboard.dashboard_json.html_safe : '{}' %>;
  dashboardName = "<%= @dashboard.name %>";
  directoryName = "<%= @directoryName %>";
  servers = <%= @servers.to_json.html_safe %>;
</script>

<h1 class="col-lg-12"><%= page_title @dashboard.name %></h1>

<div id="dashboard" ng-controller="DashboardCtrl">
  <div id="global_controls">
    <div class="global_grouping">
      <button class="btn btn-default" ng-click="decreaseRange()" title="Decrease range">
        <i class="icon-minus"></i>
      </button>
      <input type="text" class="form-control" ng-changed="setRange()" ng-model="globalConfig.range" placeholder="Range">
      <button class="btn btn-default" ng-click="increaseRange()" title="Increase range">
        <i class="icon-plus"></i>
      </button>
    </div>

    <div class="global_grouping">
      <button class="btn btn-default" ng-click="decreaseEndTime()" title="Decrease end time">
        <i class="icon-fb"></i>
      </button>
      <input type="text" class="form-control" datetime-picker datetime="globalConfig.endTime" data-format="yyyy-MM-dd" placeholder="Until">
      <button class="btn btn-default" ng-click="increaseEndTime()" title="Increase end time">
        <i class="icon-ff"></i>
      </button>
    </div>

    <div class="global_grouping">
      <button type="button" class="btn btn-default" ng-click="refreshDashboard()" title="Refresh dashboard"><i class="icon-cycle"></i></button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span ng-if="globalConfig.refresh">every {{globalConfig.refresh}}</span>
        <span ng-if="!globalConfig.refresh">never</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" ng-click="globalConfig.refresh = ''">never</a></li>
        <li><a href="#" ng-click="globalConfig.refresh = '30s'">30s</a></li>
        <li><a href="#" ng-click="globalConfig.refresh = '1m'">1m</a></li>
        <li><a href="#" ng-click="globalConfig.refresh = '2m'">2m</a></li>
        <li><a href="#" ng-click="globalConfig.refresh = '5m'">5m</a></li>
        <li><a href="#" ng-click="globalConfig.refresh = '10m'">10m</a></li>
      </ul>
    </div>

    <div class="global_grouping">
      <div>
        <button class="btn btn-default" ng-click="showDashboardSettings = !showDashboardSettings" title="Dashboard Settings">
          <span class="glyphicon glyphicon-cog"></span>
        </button>
        <button class="btn btn-default" ng-click="enableFullscreen()" title="Fullscreen mode">
          <span class="glyphicon glyphicon-fullscreen"></span>
        </button>
      </div>
      <div class="dashboard_settings panel panel-default" ng-show="showDashboardSettings">
        <div class="panel-heading">Dashboard Settings</div>
        <div class="panel-body">
          <label>Columns:
            <input class="form-control" type="number"
              min="1" max="6"
              ng-change="nextCycleRedraw()"
              ng-model="globalConfig.numColumns">
          </label>
          <label>Aspect Ratio:
            <select class="form-control" type="text"
              ng-model="globalConfig.aspectRatio"
              ng-change="nextCycleRedraw()"
              ng-options="r.value as r.fraction for r in aspectRatios">
            </select>
          </label>
          <label>Theme:
            <select class="form-control" type="text"
              ng-model="globalConfig.theme"
              ng-change="themeChange()"
              ng-options="t.css as t.name for t in themes">
            </select>
          </label>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="globalConfig.showVars"> Show template variables
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="globalConfig.keepUrlUpdated"> Keep browser URL updated
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="global_grouping">
      <button class="btn btn-default" ng-click="saveDashboard()" ng-disabled="saving">
        <span ng-show="saving">Saving...</span>
        <span ng-show="!saving">Save Changes</span>
      </button>
    </div>
    <span class="clearfix"></span>
  </div>

  <div class="global_grouping template_variables col-lg-12" ng-show="globalConfig.showVars">
    <table>
      <tr>
        <th colspan="4">Template Variables</th>
      </tr>

      <tr ng-show="vars.length == 0">
        <td colspan="4">
          <button class="btn btn-primary" type="button" ng-click="addVariable()">
            <i class="icon-plus"></i>
          </button>
        </td>
      </tr>

      <tr ng-repeat="var in vars">
        <td>
          <input type="text" class="form-control" placeholder="Variable name" ng-model="var.name">
        </td>
        <td>=</td>
        <td>
          <input type="text" class="form-control" placeholder="Variable value" ng-model="var.value">
        </td>
        <td>
          <button class="btn btn-default" type="button" ng-click="removeVariable($index)">
            <i class="icon-cross"></i>
          </button>
        </td>
        <td>
          <button class="btn btn-primary" type="button" ng-click="addVariable()" ng-show="$last">
            <i class="icon-plus"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>

  <div ng-class="{fullscreen: fullscreen}">
    <ul ui-sortable="sortableOptions" ng-model="widgets" class="sortable-widgets">
      <li ng-repeat="widget in widgets" ng-class="[columnClass(), 'widget_column']">
        <span ng-switch="widget.type">
          <span ng-switch-when="graph">
            <graph
              graph-settings="widget"
              servers="servers"
              aspect-ratio="globalConfig.aspectRatio"
              index="$index"
              frame-height="frameHeight()"
              vars="globalConfig.vars">
          </span>
          <span ng-switch-when="frame">
            <inline-frame
              frame-settings="widget"
              frame-height="frameHeight()"
              aspect-ratio="globalConfig.aspectRatio"
              index="$index"
              vars="globalConfig.vars">
          </span>
        </span>
      </li>
    </ul>
  </div>

  <span class="clearfix"></span>

  <div class="col-lg-12">
    <form class="form-inline">
      <div class="form-group">
        <button class="btn btn-primary add_widget_button" ng-click="addGraph()">Add Graph</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary add_widget_button" ng-click="addFrame()">Add Frame</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary add_widget_button"
          ng-click="showCloneMenu()" title="Clone Graph">
          Clone Widget
        </button>
      </div>
    </form>
  </div>

  <div class="modal_container panel panel-default" ng-show="showCloneControls">
    <div class="panel-heading">
      Clone Graph
      <i ng-click="closeCloneControls()" class="clone_widget_close pointer pull-right icon-cross"></i>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <div>
          <label ng-show="directoryNames.length">Directory:
            <select class="clone_select form-control" type="text"
              ng-model="directoryForClone"
              ng-change="queryDirectory()"
              ng-options="d as d.name for d in directoryNames">
            </select>
          </label>
        </div>
        <div>
          <label ng-show="dashboardNames.length">Dashboard:
            <select class="clone_select form-control" type="text"
              ng-model="dashboardForClone"
              ng-change="queryDashboard()"
              ng-options="d as d.name for d in dashboardNames">
            </select>
          </label>
        </div>
        <div>
          <label ng-show="dashboardWidgets.length">Graph:
            <select class="clone_select form-control"
              ng-model="widgetToClone"
              ng-options="g as (g.title || g.url) for g in dashboardWidgets">
            </select>
          </label>
        </div>
      </div>
      <div ng-show="widgetToClone">
        <button class="btn btn-primary add_widget_button" ng-click="copyWidget()" title="Clone Widget">
          Clone
        </button>
      </div>
    </div>
  </div>
</div>
