<!DOCTYPE html>
<html lang="en" ng-app="Prometheus" ng-controller="ThemeCtrl" class="{{theme()}}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PromDash</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if dashboards_active? %>"><%= link_to('Dashboards', directories_path) %></li>
            <li class="<%= 'active' if params[:controller] == 'servers' %>"><%= link_to('Servers', servers_path) %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div ng-show="ModalService.modalOpen()" ng-click="ModalService.closeModal()" class="modal_overlay"></div>

    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>
  </body>
</html>
